/* AlumniHeader.css */

.alumni-header {
    background-color: #31319c; /* Green theme */
    padding: 10px 20px;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.alumni-nav .nav-list {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.nav-item {
    margin-right: 20px;
}

.nav-link {
    text-decoration: none;
    color: white;
    font-weight: bold;
    transition: color 0.3s ease;
}

.nav-link:hover {
    color: #FFD700; /* Gold hover effect */
}

.logout-button {
    background-color: #f44336; /* Red theme for logout */
    color: white;
    border: none;
    border-radius: 30px;
    padding: 3px 7px;
    cursor: pointer;
    font-size: 0.8rem;
    transition: background-color 0.3s ease;
}

.logout-button:hover {
    background-color: #d32f2f; /* Darker red on hover */
}

.logout-button:focus {
    outline: none;
    box-shadow: 0 0 3px 2px rgba(255, 255, 255, 0.5);
}
